# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.raw

#LTSPICE logs
test-circuits/LTSPICE/*.log
test-boards/devsV1/*.s#*
*.lck
test-boards/devsV1/*.b#*
test-boards/devsV1/*.l#*
