# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.raw

#LTSPICE logs

*.log
*eagle.epf
*.lck
*workspace.xml
*.b#*
*.s#*
*.l#*
test-boards/Measurement device/Texas Instruments_By_element14_Batch_1.lbr
test-boards/Measurement device/Analog Devices_By_element14_Batch_1.lbr
test-boards/Measurement device/ADI-Phase-2.lbr
test-boards/Measurement device/micro-stm_v3.lbr
memristors/Organic memristors measurements/mem_test/.idea/

*/.ipynb_checkpoints/*.*
memristors/Organic memristors measurements/mem_test/plotter/mem_test/.ipynb_checkpoints/
memristors/Organic memristors measurements/mem_test/plotter/old/.ipynb_checkpoints/12#04#2019#18#15#14_mem3_0-0-Copy1.8-checkpoint.ipynb
